<!doctype html>

<html lang="fr">

  <head>

    <title>DIU EIL UPF Projet Bloc 5</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

    <meta charset="utf-8">

    <script src="../static/jquery-3.4.1.min.js"></script>

    <script src="../static/gsap.min.js"></script>

    <script src="../static/process.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>

  

  

  <body>

    

    <div>

        <h1 class="panel-title"  style="text-align:center"> <strong>CHIU Didier, VAZ-PINTO Nicolas, Projet Bloc 5 (Algorithmique Avancée)</strong></h1>

    

    <div class="panel-body">

        <form method="post" action="" accept-charset="UTF-8" role="form">

           

   <h2>Projet bloc 5</h2>

    <div class="shadowbox" id="p1">

    Vous êtes sur la page du projet du bloc 5 pour le DIU EIL organisé à l'Université de Polynésie-Française en Mars 2020<br>

    Réalisé par <strong>CHIU Didier</strong> et <strong>VAZ-PINTO Nicolas</strong> dans le cadre de <a href="https://diu-eil.gricad-pages.univ-grenoble-alpes.fr/diu-eil-upf-5/">l'évaluation </a>encadrée par <strong>Jean-Marc VINCENT</strong> (Université Grenoble-Alpes)<br>

    Le projet est à destination des élèves de Terminale NSI et est centré autour du jeu du taquin<br>

    </div>

   

   <h2>Un peu d'histoire...</h2>

    <div class="shadowbox" id="p2">

    Le taquin est un jeu solitaire en forme de damier créé vers 18701 aux États-Unis. <br>

    Sa théorie mathématique a été publiée par l'American Journal of mathematics pure and applied en 1879. <br><br>

    En 1891, son invention fut revendiquée par Sam Loyd, au moment où le jeu connaissait un engouement considérable, tant aux États-Unis qu'en Europe. <br>

    Il est composé de 15 petits carreaux numérotés de 1 à 15 qui glissent dans un cadre prévu pour 16. <img src="../static/taquin4.png" align="right" width="15%"><br>

    Il consiste à remettre dans l'ordre les 15 carreaux à partir d'une configuration initiale quelconque.<br><br>

    Le principe a été étendu à toutes sortes d'autres jeux. La plupart sont à base de blocs rectangulaires plutôt que carrés, 

    <img src="../static/rubikscube.jpg" align="right" width="9%"><br>

    mais le but est toujours de disposer les blocs d'une façon déterminée par un nombre minimal de mouvements. <br>

    Le Rubik's Cube est aujourd'hui considéré comme l'un des « descendants » du taquin. <br><br><br>

    Source : <a href="https://fr.wikipedia.org/wiki/Taquin">Wikipedia</a>

    </div>

    

   <h2>Taquin 3x3</h2>

    <div class="shadowbox" id="p3">

    Le projet du bloc 5 s'articulera autour de la réalisation d'un taquin 3x3 (9 cases)

    <img src="../static/taquin3.png" align="right" width="20%"><br>

    Autres éléments lié aux consignes pour le projet à mettre ici<br>

        <ul>

            <li> truc 1 </li>

            <li> truc 2 </li>

            <li> truc 3 </li>

        </ul>

    

    <br>

    <a href="/next"><input type="button" class="btn" id="btn_gotoplay" value="<===== Mélanger le Taquin et commencer à jouer =====>"></a>

    

    </div>

    

  </body>

</html>

