<!doctype html>

<html lang="fr">

  <head>

    <title>DIU EIL UPF Projet Bloc 5</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

    <meta charset="utf-8">

    <script src="../static/jquery-3.4.1.min.js"></script>

    <script src="../static/gsap.min.js"></script>

    <script src="../static/process.js"></script>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>

  

  

  <body>

    

    {% block content %}

        

    

    <div>

        <h1 class="panel-title"  style="text-align:center"> <strong>CHIU Didier, VAZ-PINTO Nicolas, Projet Bloc 5</strong></h1>

    

    <div class="panel-body">

        <form method="post" action="" accept-charset="UTF-8" role="form">

           

   

    

    {% endblock %}    

    <h2>Exemple 3x3 </h2>

    <ul>

        <li>Cliquer pour échanger une tuile avec la tuile vide</li>

        <li>Attention !! Le bouton ne marche que sur le plateau initialement rangé : ne pas cliquer deux fois de suite !!</li>

    </ul>

    <div>

    <a href="/shuffle"><input type="button" id="btn_melange" value="Voir une séquence d'animation"></a>

    </div>

    

        <div class="wrapper" id="taquin">

          <div class="piece" id="piece_0"><img src="../static/0.png"></div>

          <div class="piece" id="piece_1"><img src="../static/1.png"></div>

          <div class="piece" id="piece_2"><img src="../static/2.png"></div>

          <div class="piece" id="piece_3"><img src="../static/3.png"></div>

          <div class="piece" id="piece_4"><img src="../static/4.png"></div>

          <div class="piece" id="piece_5"><img src="../static/5.png"></div>

          <div class="piece" id="piece_6"><img src="../static/6.png"></div>

          <div class="piece" id="piece_7"><img src="../static/7.png"></div>

          <div class="piece" id="piece_8"><img src="../static/8.png"></div>

        </div>

    



  </body>

</html>

